.post b,
.post strong {
  color: var(--cor3);
}

.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 50%;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
  top: -1rem;
  z-index: 0;
}

.header::after {
  content: '';
  position: absolute;
  inset: 0; /* shorthand para top, left, right e bottom */
  background: linear-gradient(to top, #1d1d1d 0%, transparent 50%);
  z-index: 1;
}

.header__wrapper {
  width: min(86%, 800px);
  margin-bottom: 3rem;
  z-index: 2;
  color: white;

  h1 {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  h1,
  time {
    color: white;
  }
}

.titulo,
.publication {
  color: hsl(0, 0%, 94%);
}

.tagList {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.tagList .tag {
  background-color: var(--cor2);
  color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.publication {
  color: var(--texto);
  font-size: 1rem;
  opacity: 0.75;
}

.corpo {
  margin: 2rem auto 8rem;
  width: min(86%, 800px);
  text-align: justify;
  min-height: 100vh;

  figcaption {
    margin-block: 0.5rem 1.5rem;
    font-style: italic;
  }

  h2 {
    margin-block: 2rem 1rem;
  }

  h3 {
    margin-block: 1.5rem 1rem;
  }
}
