.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
    
    @media (width < 1000px) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @media (width < 700px) {
        grid-template-columns: 1fr;
    }
}
