.cabecalho {
	width: 100vw;
	position: fixed;
	top: 0;
	padding-block: 1rem;
	z-index: 999;
	height: 12vh;
	box-shadow: none;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.btContato {
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

.btContato::after {
	content: 'CONTATE-ME';
	position: absolute;
	top: -25%;
	left: -5%;
	width: 100%;
	height: 120%;
	padding: 0.3rem;
	background-color: var(--cor1);
	color: white;
	border-radius: 8px;
	clip-path: circle(0 at 50% 50%);
	transition: all 0.3s ease-in;
}

.btContato:hover::after {
	clip-path: circle(100% at 50% 50%);
}

.links {
	display: flex;
	gap: 1rem;
	font-size: 1rem;
}

.links__internos,
.links__externos {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1rem;
}

.links hr {
	background-color: var(--cor2);
	width: 1px;
	height: 1.5em;
}

.navLink {
	position: relative;
}

.navLink::after {
	content: ' ';
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 100%;
	height: 3px;
	border-radius: 3px;
	background-color: var(--cor1);
	clip-path: circle(0 at 50% 50%);
	transition: all 0.3s ease-in;
}

.navLink:hover::after {
	clip-path: circle(100% at 50% 50%);
}