* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

menu {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

button,
input,
textarea {
	font: inherit;
	color: inherit;
}

button,
input[type='button'],
input[type="reset"],
input[type='submit'] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0; 
}

img {
	width: 100%;
	object-fit: contain;
}

summary {
	display: list-item;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.circulo {
	border-radius: 50%;
	width: var(--tamanho);
	height: var(--tamanho);
}

.quadrado {
	width: var(--tamanho);
	height: var(--tamanho);
}

.transparente {
	opacity: 0;
}

.oculto {
	display: none;
}

.trans-ease {
	transition: all 0.6s ease-in-out;
}

.erro {
	color: red;
}
