.sobreMim {
    height: 100dvh;
    padding-block: 5rem;
}

    .sobreMim .container {
        height: 98%;
        overflow: hidden;
    }

.sobreMim p {
    margin-bottom: 1rem;
}

@media (width < 700px) {
    .sobreMim {
        justify-content: start;
    }
}
