#sobremim {
	.container {
        height: 98%;
        overflow: hidden;
    }
    
    p {
	    margin-bottom: 1rem;
    }
}

.minhaFoto img {
    display: block;
    float: left;
    width: clamp(200px, 20vw, 350px);
    border-radius: 36px;
    background-color: var(--cinza4);
    margin: 0 12px 12px 0;
}

@media (width < 700px) {
	.sobreMim {
		justify-content: start;
	}
}
