.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    gap: 5vw;
}

.hero h1 {
    font-size: 6rem;
    font-weight: 500;
    margin-left: -8px;
}

.dados p {
    margin-block: 1em;
}

.curriculo,
.curriculo:visited {
    padding: 0.8rem 1rem;
    background-color: var(--cor1);
    color: white;
    font-size: 1rem;
	border-radius: .75rem;
}

.tecnologias {
    display: flex;
    width: 250px;
    flex-wrap: wrap;
    gap: 2.5rem;
}

@media (width < 700px) {
    /* % Hero */
    .hero {
        flex-direction: column-reverse;
        justify-content: center;
        height: 100dvh;
        gap: 20px;
    }

    .dados h1 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 10px;
    }

    .dados > p {
        text-align: center;
        margin-bottom: 2em;
    }

    .tecnologias {
        width: 100%;
        justify-content: center;
    }
}