.figure {
    display: flex;
    flex-direction: column;
    width: 2rem;
    gap: 0.25rem;
    position: relative;
}

.imagem {
    height: 2.25rem;
    width: unset;
    filter: grayscale();
    transition: all .6s ease .3s;
}

.imagem:hover {
    filter: none;
}

.legenda {
    position: absolute;
    top: 2.5rem;
    width: unset;
    padding: .4rem .8rem;
    font-size: .8rem;
    /* font-weight: 700; */
    text-align: center;
    border: 1px solid var(--cor1);
    border-radius: 2rem;
    transform: rotateY(90deg);
    transition: all .6s ease .3s;
}

.figure:hover .legenda {
    transform: rotateY(0);
}