/* % BORDA ANIMADA */
.nav-link {
    position: relative;
}

.nav-link::after {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: var(--cor1);
    clip-path: circle(0 at 50% 50%);
    transition: all .3s ease-in;
}

.nav-link:hover::after {
    clip-path: circle(100% at 50% 50%);
}

/* % BOTÃO CONTATO */
#contate-me {
    position: relative;
}

#contate-me::after {
    content: 'CONTATE-ME';
    position: absolute;
    top: -25%;
    left: -5%;
    width: 100%;
    height: 120%;
    padding: .3rem;
    background-color: var(--cor1);
    color: white;
    border-radius: 8px;
    clip-path: circle(0 at 50% 50%);
    transition: all .3s ease-in;
}

#contate-me:hover::after {
    clip-path: circle(100% at 50% 50%);
}

/* % MENU SUPERIOR */

@keyframes menuHome {
    0% { height: 12vh; box-shadow: none;}
    100% { height: 50px; box-shadow: 0 0 15px var(--shadow); background-color: var(--bg-geral);}
}

@keyframes menuBlog {
    0% { box-shadow: none; background-color: transparent;}
    100% { box-shadow: 0 0 15px var(--shadow); background-color: var(--bg-geral);}
}

.cabecalho {
    animation: menuHome 1s ease-in-out 1ms forwards;
    animation-timeline: scroll();
    animation-range: normal 10%;
}

.cabecalho-blog {
    animation: menuBlog 1s ease-in-out 1ms forwards;
    animation-timeline: scroll();
    animation-range: normal 10%;

}

.menu-scroll {
    box-shadow: 0 0 15px var(--shadow);
    height: 50px;
    transition: all 1s ease-in-out;
    z-index: 999;
}

/* % TECNOLOGIAS */

.tecnologias img {
    filter: grayscale();
    transition: all .6s ease .3s;
}

.tecnologias img:hover {
    filter: none;
}

.tecnologias__figure:hover figcaption {
    transition: opacity .6s ease .3s;
}

.tecnologias__figure:hover figcaption {
    opacity: 1;
}

/* % CARDS */

@keyframes revelaCards {
    0% { 
        opacity: 0; 
        /* -webkit-translate: 0 100px;
        translate: 0 100px; */
        scale: 0.9;
    }
    
    100% {
        opacity: 1;
        /* -webkit-translate: 0 0;
        translate: 0 0; */
        scale: 1;
    }
}

.card {
    animation: revelaCards .6s ease-in-out 1ms forwards;
    animation-timeline: view();
    animation-range: cover 5% cover 50%;
}

@media (width < 700) {
    .nav-link:hover::after {
        clip-path: circle(0%);
    }
}