/* arquivo: estrutura.css */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("reset.css");
@import url("variaveis.css");

/* % REGRAS GERAIS */

body {
    font-family: "Lato", sans;
    margin-top: 1em;
    scroll-behavior: smooth;
    background-color: var(--bg-geral);
    width: 100vw;
}

section {
    margin-block: 5rem;
    padding-block: 5rem;
}

section h2 {
    font-size: 2.1rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

a,
a:visited {
    text-decoration: none;
    color: var(--cor1);
}

p,
quote,
cite,
li {
    font-size: 1.3rem;
    line-height: 1.5;
    color: var(--texto);
}

.fa-solid,
.fa-brands {
    font-size: 1.3em;
}

b,
strong {
    color: var(--cor3);
}

h1,
h2 {
    color: var(--titulo);
}

ul {
    list-style-type: circle;
}

li {
    margin-left: 2rem;
}

main p,
header p {
    margin-bottom: 1rem;
}

figure {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

figcaption {
    color: var(--texto);
}

/* % Classes genéricas */

.margem-lateral {
    padding-inline: max(15vw, calc(50vw - 700px));
}

.bg-section {
    background-color: var(--bg-section);
}

/* % CABEÇALHO */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100vw;
    height: 12vh;
    position: fixed;
    top: 0;
    padding-block: 1rem;
    background-color: var(--bg-geral);
}

.menu-scroll {
    box-shadow: 0 0 15px var(--shadow);
    height: 50px;
    transition: all 1s ease-in-out;
    z-index: 999;
}

#contate-me {
    font-weight: 700;
    text-transform: uppercase;
}

.links {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
}

.links__internos,
.links__externos {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
}

.links hr {
    background-color: var(--cor2);
    width: 1px;
    height: 1.5em;
}

/* % HEADER */

#home__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    gap: 5vw;
}

#home__header h1 {
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 0;
}

.minha-foto img {
    width: clamp(175px, 20vw, 250px);
    border-radius: 50%;
    border: 12px solid #b2b2b2;
    box-shadow: 1px 1px 15px 2px var(--shadow);
}

.tecnologias {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    gap: 2rem;
    margin-block: 0.8rem 1.75rem;
}

.tecnologias__figure {
    display: flex;
    flex-direction: column;
    width: 2rem;
    gap: 0.5rem;
}

.tecnologias__figure img {
    height: 2rem;
    width: unset;
}

.tecnologias__figure figcaption {
    opacity: 0;
}

.botao-contato {
    position: absolute;
    padding: 1rem 1.5rem;
    background: linear-gradient(145deg, var(--cor2) 0%, var(--cor2) 50%, var(--cor1) 100%);
    border-radius: 18px;
    color: white;
    transition: all 0.8s ease;
}

.botao-contato:hover {
    box-shadow: 0 0 24px var(--cor2);
}

/* % SEÇÃO "SOBRE MIM" */

#sobre-mim {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 5rem;
}

/* % SEÇÃO PROJETOS  e BLOG */

.card-container {
    display: flex;
    flex-flow: row wrap;
    gap: max(20px, calc(50% - 600px));
}

.card {
    width: clamp(250px, 22vw, 400px);
    height: 450px;
    border: 1px solid var(--borda);
    border-radius: 18px;
    background-color: var(--bg-card);
    overflow: hidden;
    transition: all 0.6s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 15px var(--shadow);
    transform: translate(-15px, -15px);
}

.card__imagem {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid var(--cinza2);
}

.card img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: 0px 10%;
    transition: all 0.6s ease-in-out;
}

.card:hover img {
    transform: scale(1.15);
}

.card__texto {
    padding: 1.3em;
}

.card__texto h3 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card__texto p {
    font-size: 1.1rem;
    line-height: 1.5;
}

/* % SEÇÃO COM FRASE */

#frase {
    padding-left: 25%;
}

quote::before {
    content: "\“";
    display: block;
    position: absolute;
    left: 15vw;
    font-size: 6rem;
    font-family: "Noto Serif", serif;
    font-weight: 700;
    line-height: 0.7;
    filter: opacity(20%);
    color: var(--texto);
}

quote {
    display: block;
    font-weight: 300;
    font-size: 48px;
    margin-bottom: 1rem;
}

cite {
    display: block;
    text-align: right;
}

/* % SEÇÃO BLOG */

#blog {
    min-height: 94vh;
    margin-bottom: 0;
    padding-bottom: 10rem;
}

/* % FOOTER */

footer {
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: var(--bg-footer);
    width: 100%;
    padding: 64px 0 25px;
}

footer p {
    font-size: 0.8rem;
}

.footer__contato {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

noscript {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

noscript img {
    width: 100px;
}

/* % MEDIA QUERIES */

@media (width < 700px) {
    p, cite, li {
        font-size: 1rem;
    }

    .cabecalho {
        position: fixed;
        height: 60px;
    }

    .links__btn {
        font-size: 2rem;
        color: var(--cor1);
        cursor: pointer;
        z-index: 3;
    }

    .links__container {
        z-index: 1;
        background-color: var(--bg-card);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        padding-block: 10px 25px;
        transition: all .6s ease-in-out;

        hr {
            width: 100%;
            height: 1px;
        }
    }

    .links,
    .links__internos {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }
       
    .links__externos {
        gap: 2rem;

        .fa-brands {
            font-size: 1.6rem;
        }
    }

    #contate-me, .nav-link {
        font-size: 0.9rem;
        padding-block: 1rem;
    }

    .margem-lateral {
        padding-inline: 5vw;
    }

    #home__header {
        margin-top: 6rem;
        flex-direction: column-reverse;
        height: unset;
        gap: 40px;
    }

    #home__header h1 {
        font-size: 3rem;
    }

    .tecnologias {
        justify-content: center;
        width: 100%;
    }

    section {
        margin-block: 1rem;
        padding-block: 4rem;
    }

    section h2 {
        font-size: 1.6rem;
    }

    .card {
        width: 100%;
        height: unset;
    }

    #frase {
        padding-left: 20%;
    }

    quote::before {
        left: 5vw;
    }
}
