@import url('base.css');

:root {
    --largura: min(96%, 800px);
}

.blog-post b,
.blog-post strong {
    color: var(--cor3)
}

.cabecalho {
    height: 50px;
    z-index: 100;
}

.blog-post__header {
    background-size: cover;
    background-repeat:no-repeat;
    background-position: 0 50%;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.blog-post__header::after {
    content: '';
    position: absolute;
    inset: 0; /* shorthand para top, left, right e bottom */
    background: linear-gradient(to top, #1d1d1d 0%, transparent 50%);
    z-index: 1;
}

.blog-post__header__wrapper {
    width: var(--largura);
    margin-bottom: 3rem;
    z-index: 2;
}

.blog-post h1 {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.list-tags {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.list-tags .tag {
    background-color: var(--cor2);
    color: white;
    padding: .3rem .5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.blog-post__publication {
    color: var(--texto);
    font-size: 1rem;
    opacity: .75;
}

.blog-post__corpo {
    margin: 4rem auto;
    width: var(--largura);
    text-align: justify;
    min-height: 100vh;
}

footer {
    margin-bottom: 0;
}