@import url('base.css');

.cabecalho {
    height: 50px;
    z-index: 100;
}

.blog-post {
    background-image: url("https://images.unsplash.com/photo-1579600161224-cac5a2971069");
    background-size: cover;
    background-repeat:no-repeat;
}

.blog-post::after {
  /* Cria um pseudo-elemento como último filho de body */
  content: '';
  
  /* Faz o pseudo-elemento cobrir todo o body */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Adiciona o gradiente ao pseudo-elemento */
  background-image: linear-gradient(to bottom, rgba(255,0,0,0) 0%, var(--bg-geral) 50%);

  z-index: 1;
}

.blog-post__header {
    padding-block: 4rem;
    position: relative;
    z-index: 2;
}

.blog-post h1 {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.blog-post b,
.blog-post strong {
    color: var(--cor3)
}


#list-tags {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem
}

#list-tags span {
    background-color: var(--cor2);
    color: white;
    padding: .3rem .5rem;
    border-radius: 1rem;
}

.blog-post__corpo {
    position: relative;
    margin-block: 3rem 5rem;
    background-color: var(--bg-card);
    border: 1px solid var(--borda);
    padding: 1.5rem;
    padding-bottom: 5rem;
    border-radius: 18px;
    z-index: 4;
}

footer {
    margin-bottom: 0;
}