:root {
    --cor1: #0b5498;
    --cor2: #3c6997;
    --cor3: #fe9000;

    --bg-geral: #fafafa;
    --bg-section: #e0eefa;
    --bg-footer: #dedede;
    --texto: #2b2b2b;
    --titulo: #3e3e3e;
    --projeto-borda: #ccc;
    --shadow: rgba(124, 138, 151, 0.5);
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --cor1: #79BAF6;
        --cor2: #6D99C5;

        --bg-geral: #2b2b2b; 
        --bg-section: #3c699725;
        --bg-footer: #262626;
        --texto: #eee;
        --titulo: #f0f0f0;
        --projeto-borda: #5a5a5a;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans;
    margin: 1em 0 0;
    scroll-behavior: smooth;
    background-color: var(--bg-geral);
}

.margem-lateral {
    padding-inline: max(15vw, calc(50vw - 700px));
}

a, a:visited {
    text-decoration: none;
    color: var(--cor1);
}

p, quote, cite, li {
    font-size: 1.3rem;
    line-height: 1.5;
    color: var(--texto)
}

b, strong {
    color: var(--cor1);
}

.fa-solid, .fa-brands {
    font-size: 1.3em;
}

h1, h2 {
    color: var(--titulo)
}

ul {
    list-style-type: circle;
}

li {
    margin-left: 2rem;
}

main p, header p {
    margin-bottom: 1rem;
}

figure {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

figcaption {
    color: var(--texto)
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 5vh;
}

nav p {
    color: var(--cor1);
}

.nav-link {
    font-size: 1rem;
}

nav img {
    height: 25px;
}

#contate-me {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

#redes-sociais {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#home__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
    gap: 5vw;
}

#home__header h1 {
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 0;
}

#home__header p {
    margin-bottom: 3rem;
}

#home__header figcaption {
    display: none;
}

#header__figuras img {
    width: 250px;
    border-radius: 100%;
    border: 12px solid #b2b2b2;
    box-shadow: 1px 1px 15px 2px var(--shadow);
    /* object-fit: fill; */
}

#linguagens--imagens {
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
}

#linguagens--imagens figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#linguagens--imagens figcaption {
    margin-top: .5rem;
}

#linguagens--imagens img {
    width: 50px;
}

section {
    margin: 5rem 0;
    padding: 5rem 0;
}

.bg-section {
    background-color: var(--bg-section);
}

section h2 {
    font-size: 2.1rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

#sobre-mim {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projetos-container {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
}

.projeto {
    width: 400px;
    height: 450px;
    border: 1px solid var(--projeto-borda);
    border-radius: 18px;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
}

.projeto:hover {
    box-shadow: 0 0 25px var(--shadow);
    transform: rotate(-2deg);
}

.projeto__imagem {
    width: 100%;
    overflow: hidden;    
}

.projeto img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: 0px 10%;
    transition: all 0.6s ease-in-out;
}

.projeto:hover img {
    transform: scale(1.15);
}

.projeto__texto {
    padding: 1.3em;
}

.projeto__texto h3 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.projeto__texto p {
    font-size: 1.1rem;
    line-height: 1.5;
}

#frase {
    padding-left: 25%;
}

quote::before {
    content: "\“";
    display: block;
    position: absolute;
    left: 15vw;
    font-size: 6rem;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    line-height: .7;
    filter: opacity(20%);
    color: var(--texto);
}

quote {
    display: block;
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 1rem;
}

cite {
    display: block;
    text-align: right;
}

/* #blog {
    min-height: 100vh;
} */

footer {
    display: flex;
    justify-content: center;
    background-color: var(--bg-footer);
    width: 100%;
    margin: 0 0;
    padding: 64px 0 25px;
    gap: 3rem;
}

footer p {
    font-size: .8rem;
}

.footer__contato {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

@media (width<700px) {
    p, quote, cite, li{
        font-size: 1rem;
    }

    nav {
        margin-bottom: 5rem;
    }

    .nav-link {
        font-size: .9rem;
    }

    .margem-lateral {
        padding-inline: 5vw;
    }

    #home__header {
        flex-direction: column-reverse;
        height: unset;
        gap: 40px
    }

    #home__header h1 {
        font-size: 3rem;
    }

    section h2{
        font-size: 1.6rem;
    }

    .projeto {
        width: 100%;
        height: unset;
    }

    #frase {
        padding-left: 20%;
    }

    quote::before {
        left: 5vw;
    }
}