/* arquivo: estrutura.css */
:root {
    --cor1: #0b5498;
    --cor2: #3084c4;
    --cor3: #fe9000;

    --bg-geral: #f7f7f7;
    --bg-section: #e0eefa;
    --bg-card: #ffffff;
    --bg-footer: #dedede;
    --texto: #5f5f5f;
    --titulo: #3e3e3e;
    --borda: #ccc;
    --shadow: rgba(124, 138, 151, 0.5);
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --cor1: #79BAF6;
        --cor2: #6D99C5;
        --cor3: #da9b48;

        --bg-geral: #3f3f3f; 
        --bg-section: #3c699725;
        --bg-card: #3c3c3c;
        --bg-footer: #262626;
        --borda: #5d5d5d;
        --shadow: #1010106c;
        --texto: #eee;
        --titulo: #f0f0f0;
        --projeto-borda: #5a5a5a;
    }
}

/* % REGRAS GERAIS */

body {
    font-family: 'Lato', sans;
    margin-top: 1em;
    scroll-behavior: smooth;
    background-color: var(--bg-geral);
}

section {
    margin-block: 5rem;
    padding-block: 5rem;
}

section h2 {
    font-size: 2.1rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

a, a:visited {
    text-decoration: none;
    color: var(--cor1);
}

p, quote, cite, li {
    font-size: 1.3rem;
    line-height: 1.5;
    color: var(--texto);
}

.fa-solid, .fa-brands {
    font-size: 1.3em;
}

b, strong {
    color: var(--cor3);
}

h1, h2 {
    color: var(--titulo)
}

ul {
    list-style-type: circle;
}

li {
    margin-left: 2rem;
}

main p, header p {
    margin-bottom: 1rem;
}

figure {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
}

figcaption {
    color: var(--texto)
}

/* % Classes genéricas */

.margem-lateral {
    padding-inline: max(15vw, calc(50vw - 700px));
}

.bg-section {
    background-color: var(--bg-section);
}

/* % CABEÇALHO */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100vw;
    height: 12vh;
    position: fixed;
    top: 0;
    padding-block: 1rem;
    background-color: var(--bg-geral);
}

.menu-scroll {
    box-shadow: 0 0 15px var(--shadow);
    height: 50px;
    transition: all 1s ease-in-out;
    z-index: 999;
}

nav p {
    color: var(--cor1);
}

.nav-link {
    font-size: 1rem;
}

#redes-sociais {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

/* % HEADER */

#home__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88vh;
    gap: 5vw;
}

#home__header h1 {
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 0;
}

#home__header p {
    margin-bottom: 3rem;
}

#home__header figcaption {
    display: none;
}

#header__figuras img {
    width: 250px;
    border-radius: 100%;
    border: 12px solid #b2b2b2;
    box-shadow: 1px 1px 15px 2px var(--shadow);
    /* object-fit: fill; */
}

.botao-contato {
    opacity: 1;
    padding: 1rem 1.5rem;
    background: linear-gradient(145deg, var(--cor2) 0%, var(--cor2) 50%, var(--cor1) 100%);
    border-radius: 18px;
    color: white;
    transition: all .8s ease;
}

.botao-contato:hover {
    box-shadow:  0 0 24px var(--cor2);
}

/* % LINGUAGENS */

#linguagens--imagens {
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
}

#linguagens--imagens figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#linguagens--imagens figcaption {
    margin-top: .5rem;
}

#linguagens--imagens img {
    width: 50px;
}

/* % SEÇÃO "SOBRE MIM" */

#sobre-mim {
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* % SEÇÃO PROJETOS */

#projetos-container {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
}

.card {
    width: 400px;
    height: 450px;
    border: 1px solid var(--borda);
    border-radius: 18px;
    background-color: var(--bg-card);
    overflow: hidden;
    transition: all 0.6s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 15px var(--shadow);
}

.card__imagem {
    width: 100%;
    overflow: hidden;    
}

.card img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: 0px 10%;
    transition: all 0.6s ease-in-out;
}

.card:hover img {
    transform: scale(1.15);
}

.card__texto {
    padding: 1.3em;
}

.card__texto h3 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card__texto p {
    font-size: 1.1rem;
    line-height: 1.5;
}

/* % SEÇÃO COM FRASE */

#frase {
    padding-left: 25%;
}

quote::before {
    content: "\“";
    display: block;
    position: absolute;
    left: 15vw;
    font-size: 6rem;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    line-height: .7;
    filter: opacity(20%);
    color: var(--texto);
}

quote {
    display: block;
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 1rem;
}

cite {
    display: block;
    text-align: right;
}

/* % SEÇÃO BLOG */

#blog {
    min-height: 94vh;
}

footer {
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: var(--bg-footer);
    width: 100%;
    padding: 64px 0 25px;
}

footer p {
    font-size: .8rem;
}

.footer__contato {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

/* % MEDIA QUERIES */

@media (width<700px) {
    p, quote, cite, li{
        font-size: 1rem;
    }

    .cabecalho {
        position: relative;
    }

    #contate-me,
    #redes-sociais {
        gap: .5rem;
    }

    .nav-link {
        font-size: .9rem;
    }

    .margem-lateral {
        padding-inline: 5vw;
    }

    #home__header {
        margin-top: 4rem;
        flex-direction: column-reverse;
        height: unset;
        gap: 40px
    }

    #home__header h1 {
        font-size: 3rem;
    }

    section {
        margin-block: 1rem;
        padding-block: 4rem;
    }

    section h2{
        font-size: 1.6rem;
    }

    .projeto {
        width: 100%;
        height: unset;
    }

    #frase {
        padding-left: 20%;
    }

    quote::before {
        left: 5vw;
    }
}