* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1;
    overflow-x: hidden;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
	width: 100%;
    object-fit: cover;
}

.flex-center {
    display:flex;
    align-items: center;
    justify-content: center;
}

.circulo {
    border-radius: 50%;
    width: var(--tamanho);
    height: var(--tamanho);
}

.quadrado {
    width: var(--tamanho);
    height: var(--tamanho);
}

.transparente {
    opacity: 0;
}

.oculto {
    display: none;
}

.trans-ease {
	transition: all .6s ease;
}
