:root {
    --cor1: hsl(209, 87%, 32%);
    --cor2: hsl(206, 61%, 48%);
    --cor3: hsl(34, 100%, 50%);
    --cinza: hsla(0, 0%, 50%, 70%);
    --cinza2: hsl(0, 0%, 85%);

    --bg-geral: hsl(0, 0%, 98%);
    --bg-section: hsl(208, 100%, 95%);
    --bg-card: hsl(0, 0%, 100%);
    --bg-code: hsl(0, 0%, 95%);
    --bg-footer: hsl(0, 0%, 87%);
    --texto: hsl(0, 0%, 37%);
    --titulo: hsl(0, 0%, 24%);
    --borda: hsl(0, 0%, 80%);
    --shadow: hsla(209, 11%, 54%, 0.5);
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --cor1: hsl(209, 87%, 72%);
        --cor2: hsl(209, 15%, 61%);
        --cor3: hsl(34, 66%, 57%);

        --bg-geral: hsl(0, 0%, 20%);
        --bg-section: hsla(210, 43%, 45%, 0.145);
        --bg-card: hsl(0, 0%, 24%);
        --bg-code: hsl(0, 0%, 15%);
        --bg-footer: hsl(0, 0%, 15%);
        --borda: hsl(0, 0%, 36%);
        --shadow: hsla(0, 0%, 6%, 0.424);
        --texto: hsl(0, 0%, 84%);
        --titulo: hsl(0, 0%, 94%);
        --projeto-borda: hsl(0, 0%, 35%);
    }
}